<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
    </head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/images/weather.png">
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{helpMsg}}</p>
        </div>
        {{>footer}}
    </body>
</html>